/pyside-setup-everywhere-src-5.12.3.tar.xz
/pyside-setup-everywhere-src-5.12.4.tar.xz
/pyside-setup-everywhere-src-5.13.1.tar.xz
/pyside-setup-everywhere-src-5.12.5.tar.xz
/pyside-setup-everywhere-src-5.12.6.tar.xz
/pyside-setup-opensource-src-5.13.2.tar.xz
/pyside-setup-opensource-src-5.14.2.tar.xz
